---
Language: Cpp
BasedOnStyle: Mozilla
ColumnLimit: 80
PointerAlignment: Right
TabWidth: 2
AlignEscapedNewlines: LeftWithLastLine
BreakAfterReturnType: Automatic
AlignAfterOpenBracket: Align
PenaltyBreakAssignment: 100
...
